
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.center-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.answer-btn {
    margin: 10px;
}

#quiz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
